*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4B3621;
}

#app {
 width: 100vw;
 height: 100vh;
 display: flex;
 gap: 10px;   
}

#nav {
    width: 30%;
    height: 100vh;
    border: 1px solid #007;
}

#contrainer {
    width: 70%;
    height: 100vh;
    border: 1px solid #007;
}