.div-padre {
    display: flex;
    border: 1px solid black;
    gap: 5px;
    padding: 5px;
}

.div-uno {
    border: 1px solid blue;
    height: 50px;
    width: 50px;
}

.div-dos {
    border: 1px solid red;
    height: 50px;
    width: 50px;
}